*,:before,:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--un-default-border-color, #e5e7eb)
}

:before,:after {
    --un-content: ""
}

html,:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,samp,pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden]:where(:not([hidden=until-found])) {
    display: none
}

html,:root {
    -webkit-tap-highlight-color: revert
}

body {
    display: flow-root;
    min-height: 100vh;
    min-height: 100dvh;
    overflow: hidden auto;
    font-family: Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #4d4a4a;
    word-break: normal;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
    background-color: #fff;
    line-break: strict
}

body *:focus:not(:focus-visible) {
    outline: none
}

@media (max-width: 767px) {
    body *:focus {
        outline:none
    }
}

.cookie-policy-agreement-notification.svelte-111juyc {
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    font-size: 12px;
    line-height: 1.8;
    color: #fff;
    background: #000c
}

@media (max-width: 767px) {
    .cookie-policy-agreement-notification.svelte-111juyc {
        padding:10px 15px
    }
}

.cookie-policy-agreement-notification.svelte-111juyc a:where(.svelte-111juyc) {
    color: #307bf6;
    text-decoration: underline
}

.cookie-policy-agreement-notification.svelte-111juyc button:where(.svelte-111juyc) {
    flex: none;
    padding: 6px 20px;
    margin-left: 40px;
    background-color: #98ca69;
    border: 1px solid #72aa3c;
    border-radius: 3px
}

@media (max-width: 767px) {
    .cookie-policy-agreement-notification.svelte-111juyc button:where(.svelte-111juyc) {
        margin-left:10px
    }
}

.terms-agreement-popup.svelte-bcnjt9 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000c
}

.terms-agreement-popup-content.svelte-bcnjt9 {
    width: 100%;
    max-width: 400px;
    padding: 40px 40px 30px;
    background-color: #fff;
    border-radius: 3px
}

@media (max-width: 767px) {
    .terms-agreement-popup-content.svelte-bcnjt9 {
        padding:40px 20px 20px;
        margin: 0 20px
    }
}

h3.title.svelte-bcnjt9 {
    font-size: 16px;
    font-weight: 700;
    text-align: center
}

ul.svelte-bcnjt9 {
    margin: 20px 0
}

ul.svelte-bcnjt9 li:where(.svelte-bcnjt9) label:where(.svelte-bcnjt9) {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f6f8fa;
    border-radius: 3px
}

ul.svelte-bcnjt9 li:where(.svelte-bcnjt9) label:where(.svelte-bcnjt9) input:where(.svelte-bcnjt9) {
    margin-right: 10px
}

ul.svelte-bcnjt9 li:where(.svelte-bcnjt9) label:where(.svelte-bcnjt9) a:where(.svelte-bcnjt9) {
    color: #307bf6
}

.submit-box.svelte-bcnjt9 {
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc
}

button.svelte-bcnjt9 {
    padding: 8px 20px;
    color: #fff;
    background-color: #98ca69;
    border: 1px solid #72aa3c;
    border-radius: 3px
}

button.svelte-bcnjt9:disabled {
    opacity: .5
}

.header-banner.svelte-uzv9ps {
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.header-banner.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    width: 100%;
    height: 82px;
    padding: 7px 0 12px;
    margin: 0 auto;
    object-fit: contain
}

@media (max-width: 767px) {
    .header-banner.svelte-uzv9ps img:where(.svelte-uzv9ps) {
        height:45px;
        padding: 4px
    }
}

.header-banner.max-w-720.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    max-width: 720px
}

.header-banner.max-w-1440.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    max-width: 1440px
}

.header-banner.max-h-60.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    max-height: 60px
}

.header-banner.max-h-70.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    max-height: 70px
}

.header-banner.sp-max-h-40.sp-block.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    max-height: 40px
}

.header-banner.sp-max-h-50.sp-block.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    max-height: 50px
}

.header-banner.sp-max-h-60.sp-block.svelte-uzv9ps img:where(.svelte-uzv9ps) {
    max-height: 60px
}

.header-banner.bg-size-1440.svelte-uzv9ps {
    background-size: 1440px
}

.header-banner-pc.svelte-uzv9ps {
    display: block
}

@media (max-width: 767px) {
    .header-banner-pc.svelte-uzv9ps {
        display:none
    }
}

.header-banner-sp.svelte-uzv9ps {
    display: none
}

@media (max-width: 767px) {
    .header-banner-sp.svelte-uzv9ps {
        display:block
    }
}

@media (max-width: 767px) {
    .sp-none.svelte-uzv9ps {
        display:none
    }
}

.sp-block.svelte-uzv9ps {
    display: none
}

@media (max-width: 767px) {
    .sp-block.svelte-uzv9ps {
        display:block
    }
}

.conditional-locale-header.svelte-nnt72l {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background: linear-gradient(to right,#ffc371,#ff5f6d)
}

@media (max-width: 767px) {
    .conditional-locale-header.svelte-nnt72l {
        padding:7px;
        font-size: 10px
    }
}

.conditional-locale-header.svelte-nnt72l a:where(.svelte-nnt72l) {
    padding: 5px 10px;
    margin: 0 15px 0 20px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 3px
}

@media (max-width: 767px) {
    .conditional-locale-header.svelte-nnt72l a:where(.svelte-nnt72l) {
        flex:none;
        margin: 0 10px 0 15px
    }
}

.conditional-locale-header.svelte-nnt72l button:where(.svelte-nnt72l) {
    text-decoration: underline
}

@media (max-width: 767px) {
    .conditional-locale-header.svelte-nnt72l button:where(.svelte-nnt72l) {
        flex:none
    }
}
